<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="React Routes about">
                     <match url="(about)/?$" />
                    <action type="Rewrite" url="/about.html" />
                </rule>
                <rule name="React Routes state">
                     <match url="(state)/?$" />
                    <action type="Rewrite" url="/state.html" />
                </rule>
                <rule name="React Routes blog">
                                     <match url="(blog)/?$" />
                                    <action type="Rewrite" url="/blog.html" />
                 </rule>
                 <rule name="React Routes catalog">
                                     <match url="(catalog)/?$" />
                                    <action type="Rewrite" url="/catalog.html" />
                 </rule>
                 <rule name="React Routes contact">
                                     <match url="(contact)/?$" />
                                    <action type="Rewrite" url="/contact.html" />
                 </rule>
                    <rule name="React Routes error404">
                                     <match url="(error404)/?$" />
                                    <action type="Rewrite" url="/error404.html" />
                 </rule>
                        <rule name="React Routes forgot">
                                     <match url="(forgot)/?$" />
                                    <action type="Rewrite" url="/forgot.html" />
                 </rule>
                <rule name="React Routes privacy">
                          <match url="(privacy)/?$" />
                       <action type="Rewrite" url="/privacy.html" />
                </rule>
                <rule name="React Routes signin">
                          <match url="(signin)/?$" />
                       <action type="Rewrite" url="/signin.html" />
                </rule>
                <rule name="React Routes signup">
                          <match url="(signup)/?$" />
                       <action type="Rewrite" url="/signup.html" />
                </rule>
                <rule name="React Routes actors">
                       <match url="(actors)/?$" />
                       <action type="Rewrite" url="/actors.html" />
                </rule>
                                <rule name="React Routes series">
                                       <match url="(series)/?$" />
                                       <action type="Rewrite" url="/series.html" />
                                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>